@font-face {
    font-family: 'BYek';
    src: url('BYekan.woff2') format('woff2'),
        url('BYekan.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

